firmware_directories /vendor/firmware_mnt/image/ /vendor/firmware/

/dev/kgsl                 0666   system     system
/dev/kgsl-3d0             0666   system     system
/dev/ion                  0664   system     system
/dev/rtc0                 0660   system     system
/dev/qseecom              0660   system     drmrpc
